# Data preparation with Python

## Datetime management

In [42]:
import pandas as pd
import numpy as np

In [43]:
df=pd.DataFrame({"A":[1,5,10],
                "B":[2,6,11],
                "C":[3,None,12],
                "D":[4,8,None],
                "E":["Y","N","Y"],
                "F":["11/27/2017 17:00:00","11/26/2017 18:00:00","11/25/2017 20:00:00"]})
df

    A   B     C    D  E                    F
0   1   2   3.0  4.0  Y  11/27/2017 17:00:00
1   5   6   NaN  8.0  N  11/26/2017 18:00:00
2  10  11  12.0  NaN  Y  11/25/2017 20:00:00

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
A    3 non-null int64
B    3 non-null int64
C    2 non-null float64
D    2 non-null float64
E    3 non-null object
F    3 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 224.0+ bytes

### To convert string to datetime object

In [45]:
df["F"]=pd.to_datetime(df["F"],format="%m/%d/%Y %H:%M:%S")

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
A    3 non-null int64
B    3 non-null int64
C    2 non-null float64
D    2 non-null float64
E    3 non-null object
F    3 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 224.0+ bytes

In [47]:
df

    A   B     C    D  E                   F
0   1   2   3.0  4.0  Y 2017-11-27 17:00:00
1   5   6   NaN  8.0  N 2017-11-26 18:00:00
2  10  11  12.0  NaN  Y 2017-11-25 20:00:00

In [48]:
df["F"].max()-df["F"].min()

Timedelta('1 days 21:00:00')

### To add extra days to the existing datetime object

In [49]:
?pd.Timedelta

In [50]:
pd.Timedelta(3,unit="D")

Timedelta('3 days 00:00:00')

In [51]:
df["F"]=df["F"]+pd.Timedelta(3,unit="D")

In [52]:
df

    A   B     C    D  E                   F
0   1   2   3.0  4.0  Y 2017-11-30 17:00:00
1   5   6   NaN  8.0  N 2017-11-29 18:00:00
2  10  11  12.0  NaN  Y 2017-11-28 20:00:00

In [53]:
#To extract the date from the datetime object
df["G"]=df["F"].dt.date

In [54]:
df

    A   B     C    D  E                   F           G
0   1   2   3.0  4.0  Y 2017-11-30 17:00:00  2017-11-30
1   5   6   NaN  8.0  N 2017-11-29 18:00:00  2017-11-29
2  10  11  12.0  NaN  Y 2017-11-28 20:00:00  2017-11-28

## Handle missing data

There are a couple of ways to work on the missing data:

1) Remove the rows with missing values

2) Remove the columns with missing values

3) Remove rows where all columns are NaN

4) Remove rows where they have less than N real values

5) Remove rows where NaN appear in specific columnns

#### Remove the rows with missing values

In [55]:
df.dropna(axis=0)

   A  B    C    D  E                   F           G
0  1  2  3.0  4.0  Y 2017-11-30 17:00:00  2017-11-30

In [56]:
?df.dropna

In [57]:
#Note you need to assign the result to another variable
print(df)
df=df.dropna(axis=0)
df

    A   B     C    D  E                   F           G
0   1   2   3.0  4.0  Y 2017-11-30 17:00:00  2017-11-30
1   5   6   NaN  8.0  N 2017-11-29 18:00:00  2017-11-29
2  10  11  12.0  NaN  Y 2017-11-28 20:00:00  2017-11-28

   A  B    C    D  E                   F           G
0  1  2  3.0  4.0  Y 2017-11-30 17:00:00  2017-11-30

#### Remove the columns with missing values

In [58]:
df=pd.DataFrame({"A":[1,5,10],
                "B":[2,6,11],
                "C":[3,None,12],
                "D":[4,8,None],
                "E":["Y","N","Y"],
                "F":["11/27/2017 17:00:00","11/26/2017 18:00:00","11/25/2017 20:00:00"]})
print(df)
df=df.dropna(axis=1)
df

    A   B     C    D  E                    F
0   1   2   3.0  4.0  Y  11/27/2017 17:00:00
1   5   6   NaN  8.0  N  11/26/2017 18:00:00
2  10  11  12.0  NaN  Y  11/25/2017 20:00:00

    A   B  E                    F
0   1   2  Y  11/27/2017 17:00:00
1   5   6  N  11/26/2017 18:00:00
2  10  11  Y  11/25/2017 20:00:00

#### Remove the rows in which all columns are missing values

In [59]:
df=pd.DataFrame({"A":[1,5,10],
                "B":[2,6,11],
                "C":[3,None,12],
                "D":[4,8,None],
                "E":["Y","N","Y"],
                "F":["11/27/2017 17:00:00","11/26/2017 18:00:00","11/25/2017 20:00:00"]})
print(df)

df=df.dropna(how="all")

    A   B     C    D  E                    F
0   1   2   3.0  4.0  Y  11/27/2017 17:00:00
1   5   6   NaN  8.0  N  11/26/2017 18:00:00
2  10  11  12.0  NaN  Y  11/25/2017 20:00:00

#### Drop rows that have less than 4 real values

In [60]:
df=pd.DataFrame({"A":[1,5,10],
                "B":[2,None,11],
                "C":[3,None,12],
                "D":[4,None,None],
                "E":["Y","N","Y"],
                "F":["11/27/2017 17:00:00","11/26/2017 18:00:00",None]})
print(df)

df=df.dropna(thresh=4)
df

    A     B     C    D  E                    F
0   1   2.0   3.0  4.0  Y  11/27/2017 17:00:00
1   5   NaN   NaN  NaN  N  11/26/2017 18:00:00
2  10  11.0  12.0  NaN  Y                 None

    A     B     C    D  E                    F
0   1   2.0   3.0  4.0  Y  11/27/2017 17:00:00
2  10  11.0  12.0  NaN  Y                 None

#### Drop rows where NaN appear in specific column (in this example the column name is "D")

In [61]:
df=pd.DataFrame({"A":[1,5,10],
                "B":[2,6,11],
                "C":[3,None,12],
                "D":[4,8,None],
                "E":["Y","N","Y"],
                "F":["11/27/2017 17:00:00","11/26/2017 18:00:00","11/25/2017 20:00:00"]})
print(df)

df=df.dropna(subset=["D"])
df

    A   B     C    D  E                    F
0   1   2   3.0  4.0  Y  11/27/2017 17:00:00
1   5   6   NaN  8.0  N  11/26/2017 18:00:00
2  10  11  12.0  NaN  Y  11/25/2017 20:00:00

   A  B    C    D  E                    F
0  1  2  3.0  4.0  Y  11/27/2017 17:00:00
1  5  6  NaN  8.0  N  11/26/2017 18:00:00

In [62]:
df=pd.DataFrame({"A":[1,5,10],
                "B":[2,6,11],
                "C":[3,None,12],
                "D":[4,8,None],
                "E":["Y","N","Y"],
                "F":["11/27/2017 17:00:00","11/26/2017 18:00:00","11/25/2017 20:00:00"]})
df

    A   B     C    D  E                    F
0   1   2   3.0  4.0  Y  11/27/2017 17:00:00
1   5   6   NaN  8.0  N  11/26/2017 18:00:00
2  10  11  12.0  NaN  Y  11/25/2017 20:00:00

#### To filter dataframe based on column names

In [63]:
df[[i for i in list(df.columns)if i not in ["E","F"]]]

    A   B     C    D
0   1   2   3.0  4.0
1   5   6   NaN  8.0
2  10  11  12.0  NaN

### To impute missing values with Scikit-learn

In [64]:
from sklearn.preprocessing import Imputer
#You could use median or most_frequent(for categorial attributes)
#To create an instance of class Imputer with strategry equals to mean
imr = Imputer(missing_values='NaN', strategy='mean', axis=0)
#Filter out columns which are NOT numeric 
df1=df[[i for i in list(df.columns)if i not in ["E","F"]]]
df2=df[["E","F"]]
#Since Skikit-learn uses Numpy array as the data structure, we need
#to convert the dataframe into numpy array 
imr=imr.fit(df1.values)
imputed_data=imr.transform(df1.values)
#Convert it back into dataframe 
imputed_data_df=pd.DataFrame(imputed_data,index=df1.index,columns=df1.columns)
#column bind the other columns E and F
df=pd.concat([imputed_data_df,df2],axis=1)
df

      A     B     C    D  E                    F
0   1.0   2.0   3.0  4.0  Y  11/27/2017 17:00:00
1   5.0   6.0   7.5  8.0  N  11/26/2017 18:00:00
2  10.0  11.0  12.0  6.0  Y  11/25/2017 20:00:00

## Label encoding

In [65]:
from sklearn.preprocessing import LabelEncoder
class_le=LabelEncoder()
y=class_le.fit_transform(df["E"].values)
class_le.inverse_transform(y)
df["E"]=y
print(df)

      A     B     C    D  E                    F
0   1.0   2.0   3.0  4.0  1  11/27/2017 17:00:00
1   5.0   6.0   7.5  8.0  0  11/26/2017 18:00:00
2  10.0  11.0  12.0  6.0  1  11/25/2017 20:00:00

In [66]:
class_le.inverse_transform(y)

array(['Y', 'N', 'Y'], dtype=object)

## Data spliting

In [67]:

df_wine = pd.read_csv('https://archive.ics.uci.edu/'
                      'ml/machine-learning-databases/wine/wine.data',
                      header=None)

# if the Wine dataset is temporarily unavailable from the
# UCI machine learning repository, un-comment the following line
# of code to load the dataset from a local path:

# df_wine = pd.read_csv('wine.data', header=None)


df_wine.columns = ['Class label', 'Alcohol', 'Malic acid', 'Ash',
                   'Alcalinity of ash', 'Magnesium', 'Total phenols',
                   'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins',
                   'Color intensity', 'Hue', 'OD280/OD315 of diluted wines',
                   'Proline']

print('Class labels', np.unique(df_wine['Class label']))
df_wine.head()

Class labels [1 2 3]

,Class label,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [68]:
df_wine.shape

(178, 14)

In [69]:
df_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
Class label                     178 non-null int64
Alcohol                         178 non-null float64
Malic acid                      178 non-null float64
Ash                             178 non-null float64
Alcalinity of ash               178 non-null float64
Magnesium                       178 non-null int64
Total phenols                   178 non-null float64
Flavanoids                      178 non-null float64
Nonflavanoid phenols            178 non-null float64
Proanthocyanins                 178 non-null float64
Color intensity                 178 non-null float64
Hue                             178 non-null float64
OD280/OD315 of diluted wines    178 non-null float64
Proline                         178 non-null int64
dtypes: float64(11), int64(3)
memory usage: 19.5 KB

In [70]:
#To show the ratio of the distribution of the label values in the 
#original dataframe
from collections import Counter
for i,j in Counter(df_wine["Class label"]).items():
    print(i,":", j/len(df_wine["Class label"]))

1 : 0.33146067415730335
2 : 0.398876404494382
3 : 0.2696629213483146

In [71]:
from sklearn.model_selection import train_test_split

X, y = df_wine.iloc[:, 1:].values, df_wine.iloc[:, 0].values

X_train, X_test, y_train, y_test =\
    train_test_split(X, y, 
                     test_size=0.3, 
                     random_state=0, 
                     stratify=y)

In [72]:
for i,j in Counter(y_train).items():
    print(i,":", j/len(y_train))

3 : 0.2661290322580645
1 : 0.33064516129032256
2 : 0.4032258064516129

In [73]:
for i,j in Counter(y_test).items():
    print(i,":", j/len(y_test))

1 : 0.3333333333333333
2 : 0.3888888888888889
3 : 0.2777777777777778

In [74]:
from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler()
X_train_norm = mms.fit_transform(X_train)
X_test_norm = mms.transform(X_test)

In [75]:
from sklearn.preprocessing import StandardScaler

stdsc = StandardScaler()
X_train_std = stdsc.fit_transform(X_train)
X_test_std = stdsc.transform(X_test)

In [76]:
df3=pd.DataFrame({"A":[1,5,10,100],
                "B":[200,600,110,100],
                "C":[3,10,12,100]})
df3

     A    B    C
0    1  200    3
1    5  600   10
2   10  110   12
3  100  100  100

In [77]:
from sklearn.preprocessing import StandardScaler

stdsc = StandardScaler()
stdsc.fit_transform(df3)

array([[-0.68100522, -0.25688194, -0.70920657],
       [-0.58371876,  1.70031376, -0.53347397],
       [-0.46211069, -0.69725097, -0.48326466],
       [ 1.72683468, -0.74618086,  1.7259452 ]])

In [78]:
from sklearn.preprocessing import MinMaxScaler

stdsc = MinMaxScaler()
stdsc.fit_transform(df3)

array([[ 0.        ,  0.2       ,  0.        ],
       [ 0.04040404,  1.        ,  0.07216495],
       [ 0.09090909,  0.02      ,  0.09278351],
       [ 1.        ,  0.        ,  1.        ]])

### Apply function to each column of dataframe

In [83]:
df

      A     B     C    D  E                    F
0   1.0   2.0   3.0  4.0  1  11/27/2017 17:00:00
1   5.0   6.0   7.5  8.0  0  11/26/2017 18:00:00
2  10.0  11.0  12.0  6.0  1  11/25/2017 20:00:00

In [84]:
?df.apply

In [80]:
df.apply(len,axis=0)

A    3
B    3
C    3
D    3
E    3
F    3
dtype: int64

In [81]:
df.apply(lambda x:len(x),axis=0)

A    3
B    3
C    3
D    3
E    3
F    3
dtype: int64

In [82]:
import ggplot

ModuleNotFoundError: No module named 'ggplot'

In [ ]:
?ggplot